{{define "head_nav"}}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">GoTwit</a>
    </div>
  </div>
</div>
{{end}}

